<a routerLink="/listings">Go Back</a><br>
<h2 class="page-header">{{ listing?.title }} <small>{{ listing?.city }}</small></h2>
<div class="row">
  <div class="col-md-4">
    <!-- Image here -->
  </div>
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item">{{ listing?.owner }}</li>
      <li class="list-group-item">{{ listing?.bedrooms }}</li>
      <li class="list-group-item">{{ listing?.type }}</li>
      <li class="list-group-item">{{ listing?.price }}</li>
    </ul>
  </div>
  <a class="btn btn-success" href="#">Edit</a>
  <a class="btn btn-danger" href="#">Delete</a>
</div>